@font-face {
  font-family: 'LoveLetter';
  src: url('fonts/LoveLetter.ttf') format('truetype');
}

/*BOX Border Glow*/
@keyframes glow {
  from {
    box-shadow: 0 0 10px #e63946;
  }
  to {
    box-shadow: 0 0 25px #bf4be2;
  }
}


/*Test Fade in in loveLetter*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}